@model TNVBABY.Web.Models.LocalPasswordModel

<h3>Đổi mật khẩu</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Form đổi mật khẩu</legend>
        <ol>
            <li>
                <label for="OldPassword">Mật khẩu hiện tại</label>
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                <label for="OldPassword">Mật khẩu mới</label>
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                <label for="OldPassword">Nhập lại mật khẩu mới</label>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Đổi mật khẩu" />
    </fieldset>
}
