@using MvcPaging;
@model IPagedList<string>

<div class="form-group" style="overflow:hidden;">
    <div class="image-list">
        @foreach (var item in Model)
        {
            <div class="margin image-item">
                        @Html.Hidden("AlbumID", ViewData["AlbumID"])
                        @Html.Hidden("FilePath", item)
                    @Html.ActionLink("X", "DeleteImage", new { id = ViewData["AlbumID"], FilePath = System.IO.Path.GetFileName(item)}, new { @class = "top-del" })
                    <img class="small-pic" src="@item" alt="@item" />
                
            </div>
        }
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="row-left">

        </div>
        <div class="row-right">
            <div class="dataTables_paginate paging_bootstrap">
                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
                                    .DisplayTemplate("Bootstrap3Pagination")
                                    .MaxNrOfPages(14)
                                    .AlwaysAddFirstPageNumber()
                                    .SetPreviousPageText("← Trước")
                                    .SetNextPageText("→ Sau")
                                    .Action("Edit")
                                    .RouteValues(new { @id = ViewData["AlbumID"] })
                                    )
            </div>
        </div>
    </div>
</div>
