@model IEnumerable<TNVTH.Web.Models.T_News>

@foreach (var item in Model)
{
    <div class="">
        <a href="/Article/Detail/@item.ID/@item.Slug">
            @if (!string.IsNullOrEmpty(@item.AvataImageUrl))
            {
                <img alt="Ảnh đại diện" class="img-polaroid" src="@item.AvataImageUrl">
            }
        </a>
    </div>
    <div class="news-desc">
        <a href="/Article/Detail/@item.ID/@item.Slug">
            <h5>@item.Title</h5>
        </a>
        @Html.Raw(HttpUtility.HtmlDecode(@TNVTH.Web.Utilities.Common.GetDescription(@item.ContentNews, 45)))
        @Html.ActionLink("Chi tiết", "Detail", "Article", new { @id = item.ID, @slug = item.Slug }, null)
    </div>
    <hr />
}