@model TNVTH.Web.Models.T_Config

@{
    ViewBag.Title = "Thêm mới";
}

@section header {
    <h1>
        <span>Config</span>
        <small>Thêm mới</small>
    </h1>
}

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">

            </div><!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("AddNew", "Config", FormMethod.Post))
            {
                @Html.ValidationSummary();
                @Html.AntiForgeryToken()
                <div class="box-body">
                    <div class="form-group focus">
                        <label>Mô tả</label>
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Nhập Mô tả" })
                    </div>
                    <div class="form-group">
                        <label>Key</label>
                        <select id="Key" name="Key" class="form-control">
                            @foreach (TNVTH.Web.Utilities.Config item in Enum.GetValues(typeof(TNVTH.Web.Utilities.Config)))
                            {
                                <option value="@item.ToString()">@item.ToString()</option>
                            }
                        </select>

                        @Html.ValidationMessageFor(model => model.Key)
                    </div>
                    <div class="form-group">
                        <label>Value</label>
                        @Html.TextBoxFor(m => m.Value, new { @class = "form-control", placeholder = "Nhập Value" })
                    </div>
                    
                </div><!-- /.box-body -->
                <div class="box-footer">
                    @Html.ActionLink(
                                        "Quay lại",
                                        "List",
                                        "Config",
                                            new { @class = "btn btn-primary" })
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            }
        </div><!-- /.box -->
        <!-- Form Element sizes -->
    </div><!--/.col (left) -->
</div>   <!-- /.row -->