@model TNVBABY.Web.Models.T_Game

@{
    ViewBag.Title = "Xóa";
}

@section header {
    <h1>
        
        <span>Game</span>
        
        <small>Xóa</small>
    </h1>
}

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Bạn có chắc chắn muốn xóa ? </h3>
            </div><!-- /.box-header -->

            @Html.ValidationSummary()
            <div class="box-body">
                <div class="form-group">
                    <label>ID</label>
                    @Html.DisplayFor(m => m.ID, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Tên</label>
                    @Html.DisplayFor(m => m.Title, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Slug</label>
                    @Html.DisplayFor(m => m.Slug, new { @class = "form-control" })
                </div>
            </div><!-- /.box-body -->
            <!-- form start -->
            @using (Html.BeginForm("Delete", "AdminGame", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ID)

                <div class="box-footer">
                    <a class="btn btn-primary" onclick="history.go(-1); return false;" href="#">Quay lại</a>
                    <button type="submit" class="btn btn-primary">Xóa</button>
                </div>
            }
        </div><!-- /.box -->
        <!-- Form Element sizes -->
    </div><!--/.col (left) -->
</div>   <!-- /.row -->
